
<html>
	<head>
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link href="css/style.css" rel="stylesheet">
	</head>
<body>
<form id="frmLogin" name="frmLogin" method="POST" action="../BLL/Cliente/Login.php">
	<div class="body"></div>
			<div class="grad"></div>
			<div class="header">
				<div><span>Controle</span></div>
			</div>
			<br>
			<div class="login">
					<input type="password" id="user" placeholder="usuario" name="user"><br>
					<input type="password" id="password" placeholder="senha" name="password"><br>

					<button type="submit" class="btn btn-outline-light btn-lg">Login</button>
			</div>
	</form>	
		
</body>		
		
</html>		